* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}
body {
  background-color: rgb(255, 255, 255);
}
.header {
  position: fixed;
  height: 79px;
  width: 100%;
  display: flex;
  flex-direction: row;
  background-color: #111111;
  align-items: center;
  border-bottom: 2px solid rgba(51, 51, 51, 0.25);
  z-index: 10000;
}
.PollPoint {
  font-family: "Montserrat", sans-serif;
  color: white;
  font-size: 1.85rem;
  font-weight: 900;
  margin-left: 50px;
  margin-right: 50px;
}

.nav__links {
  display: flex;
  height: inherit;
  width: 40%;
  align-items: center;
}

.nav__link {
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  height: inherit;
  width: 89px;
  padding: 5px;
  font-size: 0.9rem;
  cursor: pointer;
  transition: all 300ms;
  font-weight: 700;
  margin-left: 15px;
  margin-right: 15px;
  transform: translateY(1px);
  border-bottom: 3px solid transparent;
}
.nav__link:hover {
  border-bottom: 3px solid #ff4655;
  text-decoration: none;
}

.nav__link a {
  transform: translateY(2px);
  text-decoration: none;
  color: white;
}
.login--btn {
  margin-left: 399px;
}
.login__signup {
  cursor: pointer;
  border: none;
  text-decoration: none;
  height: 40px;
  width: 127px;
  background-color: #ff4655;
  color: white;
  font-size: 0.9rem;
  font-family: "Montserrat", sans-serif;
  margin-right: 30px;
  border-radius: 3px;
  transition: all 300ms;
}
.mainImage {
  width: 100%;
  height: 100vh;
}
.img {
  height: 100vh;
  width: 100%;
  transition: all 1s;
  position: absolute;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.img__hidden {
  opacity: 0;
}
.imagesss {
  position: inherit;
  background-position: top right;
  height: 100%;
  width: 100%;
  object-fit: cover;
  transition: all 1s;
  opacity: 1;
}
.img::after {
  content: "";
  display: block;
  height: inherit;
  width: inherit;
  background-color: black;
  opacity: 0.5;
}
.left {
  position: absolute;
  top: 43%;
  z-index: 3;
}
.right {
  position: absolute;
  top: 43%;
  left: 97%;
}
.btn__style {
  font-weight: 900;
  border: none;
  background: transparent;
  color: white;
  font-size: 4rem;
}

.pollpoint__main {
  position: absolute;
  top: 36%;
  left: 29%;
  font-size: 8rem;
  color: white;
  font-family: "Architects Daughter", sans-serif;
}
.subhead {
  position: absolute;
  top: 33%;
  left: 38%;
  font-size: 1.4rem;
  color: white;
}
.voteNow__btn {
  position: absolute;
  top: 59%;
  left: 47%;
  transition: all 300ms;
  border-radius: 23px;
}
.login__signup:hover {
  background-color: #111111;
}
.section {
  width: 100%;
  /* background-color: #f7f7f7; */
  /* background-color: #f7f7f7; */
  padding: 96px;
  transition: all 1s;
}
.section--hidden {
  opacity: 0;
  transform: translateY(8rem);
}

.section--0 {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.section--0_head {
  font-size: 3rem;
  margin-bottom: 140px;
  margin-top: 65px;
}
.section--0_inner {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: inherit;
  padding-right: 40px;
  height: inherit;
}
.section--0_content {
  font-size: 20px;
  margin: auto;
  width: 50%;
  font-weight: bold;
}
.section--0_img {
  background: url("13.jpg") no-repeat center center/cover;
  box-shadow: 6px 4px 51px -8px rgba(0, 0, 0, 1);
  width: 37%;
  margin-left: 30px;
  transform: scale(1);
}
.section--1 {
  /* height: 110vh; */
  height: fit-content;
  padding: 0;
  /* padding-top: 150px; */
  padding-top: 145px;
}
.clippy-path {
  height: 100vh;
  width: inherit;
  background: linear-gradient(
      to right bottom,
      rgba(0, 0, 0, 0.5),
      rgba(24, 24, 24, 0.5)
    ),
    url("1.jpg") no-repeat center center/cover;
  clip-path: polygon(0 20%, 100% 0, 100% 80%, 0% 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.labels {
  height: 270px;
  width: 220px;
  background-color: rgba(255, 255, 255, 0.788);
  margin-left: 40px;
  margin-right: 40px;
  border-radius: 5px;
  padding: 23px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.3s;
}
.labels:hover {
  transform: translateY(-10px);
  box-shadow: 6px 4px 51px -8px rgba(0, 0, 0, 1);
}
.labels p {
  margin-top: 23px;
  font-size: 1.2rem;
  font-weight: bold;
}
.labels h1 {
  font-size: 1.6rem;
  font-weight: 900;
}
.section--2 {
  height: 70vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section--2_head {
  /* margin-top: 70px; */
  margin-bottom: 80px;
  font-size: 3rem;
}

.section--3 {
  height: 100vh;
  padding: 75px;
  padding-left: 200px;
  padding-right: 200px;
  /* background: white; */
  background-color: #f7f7f7;
}
.box {
  background: url("12.jpg") no-repeat center center/cover;
  box-shadow: 6px 4px 51px -8px rgba(0, 0, 0, 1);
  height: 100%;
  width: 100%;
}
.overlay {
  height: 100%;
  width: 58%;
  background-color: rgba(0, 0, 0, 0.616);
  clip-path: polygon(0 0, 100% 0, 73% 100%, 0% 100%);
}
.contact__head {
  color: white;
  padding-left: 160px;
  padding-top: 60px;
  font-size: 3rem;
}
.input__email {
  text-decoration: none;
  border: none;
  height: 70px;
  width: 150px;
  margin-left: 74px;
  margin-top: 37px;
}
.placeholders {
  outline: none;
  border: none;
  color: rgb(0, 0, 0);
  height: 45px;
  width: 389px;
  border-radius: 1px;
  background: rgba(255, 255, 255, 0.575);
  margin-bottom: 15px;
  padding: 5px 5px;
  padding-left: 23px;
  padding-top: 7px;
  z-index: 1;
}
.placeholders::placeholder {
  color: rgb(0, 0, 0);
  z-index: 1;
}
.bothcontainer {
  border-bottom: 2px solid rgb(255, 255, 255);
  z-index: 1;
}
.input__sug {
  text-decoration: none;
  border: none;
  height: 70px;
  width: 150px;
  margin-left: 74px;
  margin-top: 37px;
}
#textarea1 {
  resize: none;
  outline: none;
  border: none;
  color: rgb(0, 0, 0);
  height: 45px;
  width: 389px;
  border-radius: 1px;
  background: rgba(255, 255, 255, 0.575);
  margin-bottom: 15px;
  padding: 5px 5px;
  height: 130px;
  padding-left: 22px;
  padding-top: 14px;
  padding-right: 22px;
  border-bottom: 2px solid rgb(255, 255, 255);
  margin-left: 75px;
  margin-top: 20px;
}
#textarea1::placeholder {
  color: black;
}
.send__btn {
  margin-left: 210px;
  margin-top: 45px;
}
.section--4 {
  height: 75vh;
  background-color: #111111;
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
  /* justify-content: center; */
}
.section--4_head {
  color: white;
  font-size: 2rem;
}
.section--4_login {
  margin-top: 52px;
  margin-right: 0;
}
.section--4 p {
  font-size: 1.1rem;
  padding-top: 200px;
  font-weight: bold;
}

/* 360 640 */

/* @media screen and (min-width: 360px) and (max-height: 640px) and (-webkit-device-pixel-ratio: 3) {
  .pollpoint__main {
    font-size: 10px;
  }
} */
@media (min-width: 360px) and (max-width: 640px) {
  .imagesss {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: all 1s;
    opacity: 1;
  }
  .img::after {
    content: "";
    display: block;
    height: inherit;
    width: inherit;
    background-color: black;
    opacity: 0.5;
  }
  .mainImage {
    width: 100%;
    height: 100vh;
  }
  .img {
    height: 100vh;
    width: 279px;
    transition: all 1s;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;
  }
  .pollpoint__main {
    font-size: 38px;
    top: 36%;
    left: 12%;
  }
  .subhead {
    position: absolute;
    top: 33%;
    left: 9%;
    font-size: 12px;
    color: white;
  }
  .voteNow__btn {
    position: absolute;
    top: 50%;
    left: 28%;
    transition: all 300ms;
    border-radius: 23px;
  }
  .login__signup {
    cursor: pointer;
    border: none;
    text-decoration: none;
    height: 27px;
    width: 86px;
    background-color: #ff4655;
    color: white;
    font-size: 11px;
    font-family: "Montserrat", sans-serif;
    margin-right: 30px;
    border-radius: 33px;
    transition: all 300ms;
  }
  .btn__style {
    font-weight: 900;
    border: none;
    background: transparent;
    color: white;
    font-size: 2rem;
  }

  .left {
    position: absolute;
    top: 37%;
    z-index: 3;
  }
  .right {
    position: absolute;
    top: 37%;
    left: 72%;
  }
  .header {
    position: absolute;
    top: -28px;
    left: -405px;
    height: 79px;
    width: 1348px;
    display: flex;
    flex-direction: row;
    background-color: #111111;
    align-items: center;
    border-bottom: 2px solid rgba(51, 51, 51, 0.25);
    z-index: 10000;
    transform: scale(0.3);
  }
  .login--btn {
    margin-left: 0px;
  }
}
